/* index/search page */
.searchbox {
margin: auto;	
width: 20%;
text-align: center;
padding: 20px;
top: 75px;
background-color: white;
position: absolute;

left: 10px;
}
.search1 {
margin: auto;	
width: 20%;
text-align: center;
padding: 20px;
background-color: white;
position: absolute;
top: 75px;
right: 10px;
}
.search2 {
margin: auto;	
padding: 20px;

}
/* index/search page end */

.index {
	display: block;
	text-align: center;
}

.back {
	background-image: url(http://www.zingerbugimages.com/backgrounds/leopard_print.jpg);
	background-repeat: repeat;
	background-size: auto;
}

.login {
	text-align: right;
}

.about {
	text-align: center;
	height: 50px;
	font-size: 30px;
}

label {
	font-size: 48px
}

label input[type="checkbox"] {
	margin-right: 4em;
	display: none;
}

.custom-checkbox {
	margin-left: 2em;
	position: relative;
	cursor: pointer;
}

.custom-checkbox .glyphicon {
	color: gold;
	position: absolute;
	top: 0.4em;
	left: -1.25em;
	font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
	color: gray;
}

.custom-checkbox .glyphicon-star {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star {
	opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
	opacity: 1;
}

.card-columns {
	text-align: center;
}

/*for confirm page */
.confirm {
	text-align: center;
}
/*for closet page */
#carousel {
	width: 70%;
	height: 170px;
	background-color: #ffffff;
	position: relative;
	top: 50%; 
	padding: 0.5em;
	overflow: auto;
	white-space: nowrap;
	left:10px;
}

#carousel .slide {
	display: inline-block;
}

#carousel2 {
	width: 70%;
	height: 170px;
	background-color: #ffffff;
	position: relative;
	top: 50%;
	padding: 0.5em;
	overflow: auto;
	white-space: nowrap;
	left:10px;
}

#carousel2 .slide {
	display: inline-block;
}

#carousel3 {
	width: 320px;
	height: 90%;
	background-color: #ffffff;
	position: absolute;
	top: 75px;
	right: 10px;
	padding: 0.5em;
	overflow: auto;
	white-space: nowrap;
}
#carousel4 {
	width: 320px;
	height: 41%;
	background-color: #ffffff;
	position: absolute;
	top: 632px;
	right: 10px;
	padding: 0.5em;
	overflow: auto;
	white-space: nowrap;
}

#carousel4 .slide {
	display: inline-block;
}

#carousel3 .slide {
	display: inline-block;
}

#dropBox { 
	float:left;
	padding:10px;
	margin:10px;
	-moz-user-select:none;
	background-color: #FF0000; 
	width:70%; 
	height:400px; 
	left:100px;
	}
#dropBox2{

	float:left;
	padding:10px;
	margin:10px;
	-moz-user-select:none;
			background-color: #FF0000;
	background-image: url("trash.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 70px; 
	height:100px; 
	left:100px;
	
}
	
.trash { 
	float:right
	padding:10px;
	margin:10px;
	-moz-user-select:none;
	background-color: #000000; 
	position: relative;
	height: 75px;
	top:900px
	}
	 
	
.header{
	color: white;
	text-shadow: 2px 2px 7px #111111
	
}	
	/* upload image page */

.uploadbox{
	width: 60%;
	height: 125px;
	background-color: white;
	padding:10px;
	margin:10px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 0px;
	
}
/* Wish list page */

.wishlist{
	margin: auto;
	
}
.confirm{
	width: 50%;
	height: 200px;
	background-color: white;
	padding:10px;
	margin:10px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 100px;
	
}
/* Confirm Page list page */

.logo{
	width: 20%;
	height: 50px;
	margin: auto;
	position: relative;
	top: 300px;
}
	
.confirmer {
	
	width: 30%;
	background-color: #d4aae3;
	opacity: 0.9;
}
.login{
	width: 50%;
	height: 400px;
	background-color: white;
	padding:10px;
	margin:10px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 100px;
	
}
	
.signup{
	width: 50%;
	height: 500px;
	background-color: white;
	padding:10px;
	margin:10px;
	text-align: center;
	margin: auto;
	position: relative;
	top: 100px;
	
}