.index {
	display: block;
	text-align: center;
}
.back {
	background-image: url("/images/puffy-cloud-pattern.jpg");
	background-repeat: repeat;
	background-size: auto;
}
.login {
	text-align: right;
}
.about {
	text-align: center;
	height: 50px;
	font-size: 30px;
}
label {
  font-size: 48px
}

label input[type="checkbox"] {
	margin-right: 4em;
  display: none;
}

.custom-checkbox {
  margin-left: 2em;
  position: relative;
  cursor: pointer;
}

.custom-checkbox .glyphicon {
  color: gold;
  position: absolute;
  top: 0.4em;
  left: -1.25em;
  font-size: 0.75em;
}

.custom-checkbox .glyphicon-star-empty {
  color: gray;
}

.custom-checkbox .glyphicon-star {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.custom-checkbox:hover .glyphicon-star{
  opacity: 0.5;
}

.custom-checkbox input[type="checkbox"]:checked ~ .glyphicon-star {
  opacity: 1;
}
.card-columns {
	text-align:center;
}